html {
  font-family: Bebas Neue;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-padding-top: 170px;
  color: var(--text-color);
}

:root {
  --color-header: #000000;
  --border-color: 2px solid #ffffff;
  --text-color: #ffffff;
  --body-color: #adadad;
  --color-main: #000000;
  --text-color-main: #ffffff;
}

header {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1000;
}

h2 {
  display: block;
  height: 51px;
  font-size: 50px;
  text-align: center;
  animation: text-reveal-bottom 3s;
  margin: 20px;
  color: var(--color-main);
}

#logo {
  height: 100px;
  animation: logo-anime 3s;
}

main {
  margin-top: 170px;
}

.main-flex, .ds-flex {
  display: flex;
  justify-content: center;
}

.flexbox-container, .cont-container, .ds-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  color: var(--text-color-main);
  background-color: var(--color-main);
}

.ds-container {
  height: 430px;
  width: 58%;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.cont-container {
  height: 550px;
  width: 70%;
}

.flexbox-container {
  height: 150px;
}

.contacts-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.smth-container {
  flex-grow: 1;
}

.cont-element, .flexbox-element, .ds-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-element {
  height: 70%;
  margin: 10px;
  flex-grow: 1;
}

.flexbox-element {
  min-width: 100px;
  height: 70%;
  margin: 20px;
  box-sizing: border-box;
}

.ds-element {
  height: 90%;
  margin: 10px;
  flex-grow: 1;
}

.logo {
  width: 20%;
  justify-content: flex-start;
}

.title {
  width: 60%;
  justify-content: center;
  letter-spacing: 0.5rem;
  font-size: 100px;
  animation: title-anime 3s;
}

.navigation {
  justify-content: center;
  flex-direction: row;
  width: 20%;
  text-align: center;
}

.nav-button {
  width: 33%;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  animation: nav-anime 3s;
}

.member-1, .member-2, .member-3, .member-4 {
  overflow: hidden;
  width: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  animation: blur-photo 3s;
}

.member-1 {
  background-image: url(../img/member-1.jpg);
}

.member-2 {
  background-image: url(../img/member-2.jpg);
}

.member-3 {
  background-image: url(../img/member-3.jpg);
}

.member-4 {
  background-image: url(../img/member-4.png);
}

.text, .dstext {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding: 15px;
  box-sizing: border-box;
  justify-content: center;
}

.text {
  width: 70%;
}

.dstext {
  width: 60%;
  animation: ds-reveal 3s;
}

.line-1, .line-2, .line-3, .line-4 {
  opacity: 0;
}

.line-1 {
  animation: text-reveal 3s;
  animation-fill-mode: forwards;
}

.line-2 {
  animation: text-reveal 3s 0.5s;
  animation-fill-mode: forwards;
}

.line-3 {
  animation: text-reveal 3s 1s;
  animation-fill-mode: forwards;
}

.line-4 {
  animation: text-reveal 3s 1.5s;
  animation-fill-mode: forwards;
}

.nav-button:hover {
  background-color: #adadad;
  border-radius: 8px;
  transition: background-color 0.5s 0.1s;
  transition: border-radius 0.5s;
}

.dslogo {
  margin-left: 10px;
  width: 40%;
  animation: logo-reveal 3s;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  display: flex;
  background-color: var(--color-header);
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

@keyframes logo-anime {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(-0%);
    opacity: 1;
  }
}

@keyframes title-anime {
  0% {
    transform: translateY(-110%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes nav-anime {
  0% {
    transform: translateX(-110%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes blur-photo {
  0% {
    filter:blur(10px);
  }

  100% {
    filter:blur(0px);
  }
}

@keyframes text-reveal {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes text-reveal-bottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ds-reveal {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }

  65% {
    transform: translateX(-30%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes logo-reveal {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  50% {
    transform: translateX(60%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}