html {
  font-family: Bebas Neue;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-padding-top: 170px;
  color: var(--text-color);
}

:root {
  --color-header: #000000;
  --border-color: 2px solid #ffffff;
  --text-color: #ffffff;
  --body-color: #adadad;
  --color-main: #000000;
  --text-color-main: #ffffff;
  --underline-color: rgb(225 12 133);
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: var(--color-header);
}

#logo {
  display: block;
  height: 100px;
  font-weight: 1000;
  animation: logo-anime 3s;
}

.main-header h1 {
  color: var(--text-color);
  font-size: 100px;
  margin: 0 auto;
}

.main-navigation {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.main-navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  animation: nav-anime 3s;
}

.main-navigation a:hover {
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-underline-offset: 3px;
  text-underline-position: under;
  transition: text-decoration 1s 1s; /*Спросить у Артема как это работает  */
  transition: text-decoration-color 1s;
}

main {
  margin-top: 170px;
}

h2 {
  font-size: 50px;
  text-align: center;
  animation: text-reveal-bottom 3s;
  color: var(--color-main);
}

.member-cards {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.member-card {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #000000;
  height: 500px;
  box-sizing: border-box;
  font-size: 25px;
}

.member-card img {
  display: block;
  max-height: 470px;
  width: auto;
}

.member-description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30px;
}

.member-description p {
  margin-bottom: 30px;
}

.member-description p:last-child {
  margin-bottom: 0;
}

.discord-rules {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #000000;
}

.discord-rules h3 {
  font-size: 35px;
  margin-bottom: 10px;
}

.discord-rules-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 25px;
  list-style-type: disc;
}

.discord-rules-list li::marker {
	color: var(--underline-color);
	font-size: 35px;
}

.rule {
  margin-bottom: 15px;
  margin-left: 30px;
}

.rule:last-child  {
  margin-bottom: 15px;
}

.main-footer {
  /* position: fixed;
  bottom: 0;
  z-index: 1000; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-color: var(--color-header);
}

.footer-navigation {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.footer-navigation a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.footer-navigation a:hover {
  text-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-underline-offset: 3px;
  text-underline-position: under;
  transition: text-decoration 1s 1s; /*Спросить у Артема как это работает  */
  transition: text-decoration-color 1s;
}

@keyframes logo-anime {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(-0%);
    opacity: 1;
  }
}

@keyframes title-anime {
  0% {
    transform: translateY(-110%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes nav-anime {
  0% {
    transform: translateX(-110%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes blur-photo {
  0% {
    filter:blur(10px);
  }

  100% {
    filter:blur(0px);
  }
}

@keyframes text-reveal {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes text-reveal-bottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ds-reveal {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }

  65% {
    transform: translateX(-30%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes logo-reveal {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  50% {
    transform: translateX(60%);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}